@page "/eveniment/adauga"
@using CMVMD.Client.Services
@using CMVMD.Client.Services.Event
@using CMVMD.Shared.Models
@using System.Text.Json
@inject IEventService _eventService
@inject NavigationManager Navigation
@inject NotificationService NotificationService

<div style="padding-left: 10%; padding-right: 10%;">
    <RadzenTemplateForm TItem="EventDto" Data=@eventDto Submit=@SaveEvent>
        <RadzenStack Gap="1rem" class="rz-p-sm-12">
            <RadzenText style="padding-top: 4%; padding-bottom: 1%; align-items: center;" TextStyle="TextStyle.H4">
                <strong>Adaugă un eveniment</strong>
            </RadzenText>
            <RadzenLabel Text="Selectează Data" Component="RadzenDatePickerBindValue" />
            <RadzenDatePicker @bind-Value=@eventDto.StartDate ShowTime="true" ShowSeconds="true" HoursStep="1.5"
                MinutesStep="5" SecondsStep="10" DateFormat="MM/dd/yyyy HH:mm" Name="DatePickerWithTime" />
            @if (eventDto.File != null)
            {
                <RadzenImage Path="@eventDto.File.FileUrl" Style="width: 30rem; border-radius: 15px;"
                    AlternateText="url image" />
            }
            <RadzenUpload Url="api/upload/file/single" Complete="@((e)=>OnCompleted(e))" Icon="upload"
                ChooseText="Selecteză o imagine" Style="width: 100%" Accept="image/*"
                InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})">
            </RadzenUpload>
            <RadzenFormField Text="Titlu">
                <ChildContent>
                    <RadzenTextBox Name="Title" @bind-Value=@eventDto.Title />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Title" Text="Evenimentul trebuie sa aibă un nume." />
                    <RadzenLengthValidator Component="Title" Min="50"
                        Text="Titlul trebuie să aibă cel puțin 50 de caractere." />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Subtitlu">
                <ChildContent>
                    <RadzenTextBox Name="SubTitle" @bind-Value=@eventDto.SubTitle />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="SubTitle" Text="Evenimentul trebuie sa aibă o descriere." />
                    <RadzenLengthValidator Component="SubTitle" Min="100"
                        Text="Subtitlul trebuie să aibă cel puțin 100 de caractere." />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Text">
                <ChildContent>
                    <RadzenHtmlEditor UploadUrl="api/upload/image" @bind-Value=@eventDto.Text style="height: 400px;"
                        Name="Text">
                    </RadzenHtmlEditor>
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Text" Text="Textul evenimentului nu poate fi gol." />
                </Helper>
            </RadzenFormField>
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Text="Adaugă"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>
</div>

@code {
    EventDto eventDto = new EventDto();

    private void OnCompleted(UploadCompleteEventArgs e)
    {
        var file = JsonSerializer.Deserialize<FileDto>(e.JsonResponse);
        eventDto.File = file;
        eventDto.FileId = file!.Id;
    }
    private async Task SaveEvent()
    {
        if (eventDto.File == null)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Warning,
                    Summary = "Lipsă imagine",
                    Detail = "Evenimentul trebuie să aibă o imagine.",
                    Duration = 4000
                });
            return;
        }

        eventDto.StartDate = eventDto.StartDate.ToUniversalTime();
        eventDto.EndDate = eventDto.StartDate.ToUniversalTime();
        await _eventService.AddEventAsync(eventDto);
        Navigation.NavigateTo("/");
    }
}
