@page "/membru/adauga/{ExecutiveMemberType:int}"
@using CMVMD.Client.Services.Article
@using CMVMD.Client.Services.Member
@using CMVMD.Shared.Data
@using CMVMD.Shared.Models
@using System.Text.Json
@inject IMemberService _memberService
@inject NavigationManager Navigation
@inject NotificationService NotificationService

<PageTitle>Adaugă Membrul</PageTitle>

<div class="form-container">
    <RadzenTemplateForm TItem="ExecutiveMemberDto" Data=@memberDto Submit=@HandleValidSubmit>
        <RadzenCard Style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 2rem;">
            <RadzenStack Gap="1rem">
                <RadzenText TextStyle="TextStyle.H4" FontWeight="700" Color="#333333" style="margin-bottom: 1rem;">
                    <strong>Adaugă Membrul</strong>
                </RadzenText>

                <RadzenFormField Text="Nume" Variant="Variant.Outlined">
                    <ChildContent>
                        <RadzenTextBox Name="FirstName" @bind-Value=@memberDto.FirstName Style="width: 100%;" />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="FirstName" Text="Membrul trebuie să aibă un nume." />
                    </Helper>
                </RadzenFormField>

                <RadzenFormField Text="Prenume" Variant="Variant.Outlined">
                    <ChildContent>
                        <RadzenTextBox Name="LastName" @bind-Value=@memberDto.LastName Style="width: 100%;" />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="LastName" Text="Membrul trebuie să aibă un prenume." />
                    </Helper>
                </RadzenFormField>

                <RadzenFormField Text="Funcția" Variant="Variant.Outlined">
                    <ChildContent>
                        <RadzenTextBox Name="JobTitle" @bind-Value=@memberDto.JobTitle Style="width: 100%;" />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="JobTitle" Text="Membrul trebuie să o funcție." />
                    </Helper>
                </RadzenFormField>

                <RadzenFormField Text="Contacte" Variant="Variant.Outlined">
                    <ChildContent>
                        <RadzenTextBox Name="Contacts" @bind-Value=@memberDto.Contacts Style="width: 100%;" />
                    </ChildContent>
                </RadzenFormField>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Text="Salvează"
                    Icon="save" Style="width: 100%; margin-top: 2rem;" />
            </RadzenStack>
        </RadzenCard>
    </RadzenTemplateForm>
</div>

@code {
    [Parameter]
    public int ExecutiveMemberType { get; set; }
    private ExecutiveMemberDto memberDto = new ExecutiveMemberDto();

    private async Task HandleValidSubmit()
    {
        memberDto.Id = Guid.NewGuid();
        switch ((MemberType)ExecutiveMemberType)
        {
            case MemberType.ComisionComponentMember:
                await _memberService.AddComisionComponentMember(memberDto);
                break;
            case MemberType.DentistryComisionMember:
                await _memberService.AddDentistryComisionMember(memberDto);
                break;
            case MemberType.ExecutiveOfficeMember:
                await _memberService.AddExecutiveOfficeMember(memberDto);
                break;
        }
        Navigation.NavigateTo("/");
    }
}
