@page "/articole"
@using CMVMD.Shared.Models;
@using CMVMD.Client.Services.Article;
@inject IArticleService _articleService

<style>
    .article-card {
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 1.5rem;
    }

    .card-img-top {
        max-height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: #333;
    }

    .card-subtitle {
        font-size: 1rem;
        color: #555;
        margin-bottom: 0.75rem;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .text-center {
        text-align: center;
    }

    .page-header {
        padding: 2rem 0;
        text-align: center;
    }
</style>

<div style="padding-left: 10%; padding-right: 10%;">
    <div class="page-header">
        <RadzenText TextStyle="TextStyle.H4" class="text-center" Style="font-weight: bold; color: #333;">
            Articole
        </RadzenText>
    </div>

    @foreach (var article in articles)
    {
        <div class="article-card">
            <div class="card shadow-sm">
                <img src="@article.File?.FileUrl" class="card-img-top" alt="Article Image" />
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <p class="card-subtitle">@article.SubTitle</p>
                    <a href="/articol/@article.Id" class="btn btn-primary">Citește</a>
                </div>
            </div>
        </div>
    }
</div>

@code {
    IEnumerable<ArticleDto> articles = Enumerable.Empty<ArticleDto>();

    protected override async Task OnInitializedAsync()
    {
        articles = await _articleService.GetAllArticlesAsync();
    }
}
