@page "/eveniment/editeaza/{EventId?}"
@using CMVMD.Client.Services
@using CMVMD.Client.Services.Article
@using CMVMD.Client.Services.Event
@using CMVMD.Shared.Models
@using System.Text.Json
@inject IEventService _eventService
@inject NavigationManager Navigation
@inject NotificationService NotificationService

<PageTitle>Editează Evenimentul</PageTitle>

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized Context="auth">
        <div class="form-container">
            <RadzenTemplateForm TItem="EventDto" Data=@eventObj Submit=@HandleValidSubmit Context="ev">
                <RadzenCard Style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 2rem;">
                    <RadzenStack Gap="1rem">
                        <RadzenText TextStyle="TextStyle.H4" FontWeight="700" Color="#333333"
                            style="margin-bottom: 1rem;">
                            <strong>Editează evenimentul</strong>
                        </RadzenText>

                        <RadzenLabel Text="Selectați data de începere" Component="RadzenDatePickerBindValue" />
                        <RadzenDatePicker @bind-Value=@eventObj.StartDate ShowTime="true" ShowSeconds="false"
                            HoursStep="1.5" MinutesStep="5" DateFormat="MM/dd/yyyy HH:mm" Name="DatePickerWithTime" />

                        <RadzenLabel Text="Selectați data de încheiere" Component="RadzenDatePickerBindValue" />
                        <RadzenDatePicker @bind-Value=@eventObj.EndDate ShowTime="true" ShowSeconds="false"
                            HoursStep="1.5" MinutesStep="5" DateFormat="MM/dd/yyyy HH:mm" Name="DatePickerWithTime" />

                        @if (eventObj.File != null)
                        {
                            <RadzenImage Path="@eventObj.File.FileUrl" Style="width: 30rem; border-radius: 15px;"
                                AlternateText="url image" />
                        }

                        <RadzenUpload Url="api/upload/file/single" Complete="@((e)=>OnCompleted(e))" Icon="upload"
                            ChooseText="Selectează o imagine" Style="width: 100%; margin-bottom: 1rem;" Accept="image/*"
                            InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})">
                        </RadzenUpload>

                        <RadzenFormField Text="Titlu" Variant="Variant.Outlined">
                            <ChildContent>
                                <RadzenTextBox Name="Title" @bind-Value=@eventObj.Title Style="width: 100%;" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="Title" Text="Articolul trebuie să aibă un titlu." />
                            </Helper>
                        </RadzenFormField>

                        <RadzenFormField Text="Subtitlu" Variant="Variant.Outlined">
                            <ChildContent>
                                <RadzenTextBox Name="SubTitle" @bind-Value=@eventObj.SubTitle Style="width: 100%;" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="SubTitle"
                                    Text="Articolul trebuie să aibă un subtitlu." />
                            </Helper>
                        </RadzenFormField>

                        <RadzenFormField>
                            <ChildContent>
                                <RadzenHtmlEditor UploadUrl="api/upload/image" @bind-Value=@eventObj.Text
                                    Style="width: 100%; height: 300px;" Name="Text" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="Text" Text="Textul articolului nu poate fi gol." />
                            </Helper>
                        </RadzenFormField>

                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Text="Salvează"
                            Icon="save" Style="width: 100%; margin-top: 2rem;" />
                    </RadzenStack>
                </RadzenCard>
            </RadzenTemplateForm>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" style="margin-bottom: 1rem;">
            Nu aveți permisiunea de a accesa această pagină.
        </div>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

@code {
    [Parameter]
    public string EventId { get; set; } = string.Empty;
    private EventDto eventObj = new EventDto();

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(EventId))
        {
            eventObj = await _eventService.GetByIdAsync(EventId);
        }
    }

    private void OnCompleted(UploadCompleteEventArgs e)
    {
        var file = JsonSerializer.Deserialize<FileDto>(e.JsonResponse);
        eventObj.FileId = file!.Id;
        eventObj.File = file;
    }

    private async Task HandleValidSubmit()
    {
        if (eventObj.File == null)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Warning,
                    Summary = "Lipsă imagine",
                    Detail = "Articolul trebuie să aibă o imagine.",
                    Duration = 4000
                });
            return;
        }

        eventObj.StartDate =  eventObj.StartDate.ToUniversalTime();
        if (eventObj.EndDate == null)
        {
            eventObj.EndDate = eventObj.StartDate;
        }
        else
        {
            eventObj.EndDate = eventObj.EndDate.ToUniversalTime();
        }

        if (!string.IsNullOrEmpty(EventId))
        {
            await _eventService.EditEvent(eventObj);
        }
        else
        {
            await _eventService.AddEventAsync(eventObj);
        }
        Navigation.NavigateTo("/calendar");
    }
}
