@page "/general"

<div class="page-container">
    <PageTitle>Prezentarea Generală</PageTitle>

    <RadzenText style="padding-top: 1%; align-items: center;" class="text-center" TextStyle="TextStyle.H4">
        <strong>Prezentarea generală</strong>
    </RadzenText>

    <RadzenText style="padding-top: 2%; text-align: start; line-height: 1.35; font-size: 19px">
        Colegiul Medicilor Veterinari din Republica Moldova funcționează în baza <strong>Legii nr. 121/2020</strong>
        republicată pentru
        organizarea şi exercitarea profesiunii de medic veterinar, publicată în Monitorul Oficial al Republicii Moldova
        nr.
        199-204 la data de 07.08.2020, ca formă de organizare autonomă, non-guvernamentală, apolitică şi non-profit din
        care
        fac parte toți medicii veterinari în condițiile prezentei legi.
    </RadzenText>

    <RadzenText style="padding-top: 2%; text-align: start; line-height: 1.35; font-size: 19px">
        Colegiul Medicilor Veterinari din Republica Moldova are statut de persoană juridică de drept public. Organizarea
        şi funcționarea Colegiului se bazează pe principiile teritorialității şi reprezentativității..Principiile
        generale privind exercitarea profesiei de medic veterinar sunt: principiul legalității,
        principiul egalității, principiul libertății, principiul autonomiei, principiul păstrării secretului
        profesional, principiul „nu dăuna” și principiul prevenției.
    </RadzenText>

    <RadzenText style="padding-top: 2%; text-align: start;" TextStyle="TextStyle.H5">
        <strong>Colegiul exercită atribuții prevăzute de lege în următoarele domenii principale de activitate:</strong>
    </RadzenText>

    <ul>
        <li>
            <RadzenText style="padding-top: 1%; text-align: start; line-height: 1.35; font-size: 19px">
                profesional-științific şi învățământ;
            </RadzenText>
        </li>
        <li>
            <RadzenText style="padding-top: 1%; text-align: start; line-height: 1.35; font-size: 19px">
                etică profesională şi deontologie medicală;
            </RadzenText>
        </li>
        <li>
            <RadzenText style="padding-top: 1%; text-align: start; line-height: 1.35; font-size: 19px">
                jurisdicție profesională şi litigii; avizări consultative;
            </RadzenText>
        </li>
        <li>
            <RadzenText style="padding-top: 1%; text-align: start; line-height: 1.35; font-size: 19px">
                economico-social;
            </RadzenText>
        </li>
        <li>
            <RadzenText style="padding-top: 1%; text-align: start; line-height: 1.35; font-size: 19px">
                administrativ şi organizatoric.
            </RadzenText>
        </li>
    </ul>

    <RadzenText style="padding-top: 2%; text-align: start;" TextStyle="TextStyle.H5">
        <strong>Colegiul are următoarele competențe: apără drepturile și interesele medicilor veterinari:</strong>
    </RadzenText>

    <ul>
        <li>
            <RadzenText style="padding-top: 1%; text-align: start; line-height: 1.35; font-size: 19px">
                Reprezintă profesia de medic veterinar în raport cu autoritățile publice naționale
            </RadzenText>
        </li>
        <li>
            <RadzenText style="padding-top: 1%; text-align: start; line-height: 1.35; font-size: 19px">
                Organizațiileinternaționale și mediul de afaceri; asigură dezvoltarea profesională continuă a
                medicilorveterinari;
            </RadzenText>
        </li>
        <li>
            <RadzenText style="padding-top: 1%; text-align: start; line-height: 1.35; font-size: 19px">
                Aplică sncțiuni disciplinare
            </RadzenText>
        </li>
    </ul>

    <RadzenText style="padding-top: 2%; text-align: start; line-height: 1.35; font-size: 19px">
        Medicina veterinară este știința medicală care asigură confortul şi protecția animalelor şi contribuie la
        menținerea sănătății publice şi la protecția mediului.
        Adunarea generală a medicilor veterinari pentru alegerea conducerii Colegiului și a componenței Biroului
        Executiv și al Comisiilor a avut loc în data de 18 noiembrie 2021. Din acel moment până în prezent Colegiul este
        condus de <a
            href="https://www.facebook.com/people/Mihai-Moroz/pfbid02V5jGo52c7qe8fF8fJkumcN1Fz97GHtHaR3Jwvz1ZGcgAbJ9XLk5eLk884qmuxyWtl/"><strong>Mihail
                MOROZ</strong></a>.

        Astăzi, Colegiul Medicilor Veterinari este o organizație tânără, dar puternică, formată din 330 medici
        veterinari care își desfășoară activitatea în cele mai diverse domenii profesionale.
        Medicul veterinar este singura profesie care se află pe lanțul alimentar <strong>"de la fermă la
            furculiță"</strong>.
    </RadzenText>
</div>

<Footer></Footer>