.article-image {
    max-width: 100%;
    max-height: 50%;
    height: auto;
    width: auto;
    object-fit: contain;
    border-radius: 10px;/
}

.content-container {
    padding-left: 15%;
    padding-right: 15%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.subtitle {
    margin-top: 0.5rem;
}

.article-text {
    margin-top: 2%;
    padding-top: 10px;
}

.back-button {
    text-align: right;
    margin-top: 2%;
}

@media (max-width: 768px) {
    .content-container {
        padding: 0;
    }
}