<RadzenFooter style="margin-top: 3%; width: 100%;">
    <div class="footer-container">
        <RadzenText TextStyle="TextStyle.DisplayH3">
            <strong>CVM</strong>
        </RadzenText>
        <div class="line"></div>
        <RadzenText>
            <strong>Informații de contact:</strong>
        </RadzenText>
        <RadzenText>
            Adresa juridică: mun. Chișinău, str. Mircești 44
            Adresa fizică: mun. Chișinău, str. Mircești 52
            e-mail: <strong>cmvmd01@gmail.com</strong>
            tel.: <strong>+37369477443</strong>
        </RadzenText>
    </div>
</RadzenFooter>
