@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout style="position: relative">
    <NavMenu />
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
